:root {
    --bullet: rgba(0, 0, 0, 0.13);
}

body {
    background: hsl(0, 0%, 93%);
}

main.narrow {
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 55px;
}

main.wide {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 55px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.5em;
    margin-bottom: 18px;
    margin-top: 0;
}

h6 {
    font-size: 18px;
    font-weight: 900;
    font-family: 'Muli', sans-serif;
    margin-bottom: 10px;
    padding-top: 5px;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

h4 {
    font-size: 24px;
    font-weight: 900;
}

h3 {
    font-size: 24px;
    font-weight: 300;
}

h2 {
    font-size: 24px;
    font-weight: 900;
    color: var(--bullet, grey);
}

ul, ol {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    line-height: 1.5em;
    padding-left: 51px;
    margin-top: 18px;
    margin-bottom: 0;
    list-style-type: none;
}

p {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    line-height: 1.5em;
}

p:last-child {
    margin-bottom: 0;
}

ul.spaced-list, ol.spaced-list {
    padding-left: 22px;
}

.spaced-list li {
    margin-top: 10px;
    padding-left: 20px;
}

ul.spaced-list > li::before {
    padding-right: 30px;
    margin-left: -41px;
}

ol.spaced-list > li::before {
    padding-right: 19px;
    margin-left: -41px;
}

li {
    padding-bottom: 5px;
}

li::before {
    padding-right: 40px;
    margin-left: -51px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 900;
    color: var(--bullet, grey);
}

ul > li::before {
    content: '>';
}

ol > li::before {
    content: counter(item) '.';
}

ol ol > li::before{
    content: counter(item, lower-alpha) '.';
}

ol {
    counter-reset: item;
}

ol > li {
    counter-increment: item;
}

section {
    padding-bottom: 45px;
    padding-top: 40px;
    border-top: 2px solid white;
}

#introduction {
    margin-bottom: 0px;
    padding-bottom: 45px;
}

a {
    text-decoration: none;
    border-bottom: 2px solid var(--links, black);
    color: black;
    transition: .2s;
}

a:hover {
    color: var(--links, black);
}

footer {
    background-color: hsl(0, 0%, 89%);
    padding: 40px;
}

footer p {
    display: inline;
}

#right-foot span {
    float: right;
}

header {
    padding: 35px 40px 40px 40px;
    background-color: hsl(0, 0%, 89%);
}

header h2 {
    display: inline;
}

#email {
    float: right;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
}

h2 a {
    border-bottom: none;
}

h2 a:hover {
    border-bottom: none;
    color: var(--links, black);
}

.gallery {
    border-top: none;
}

main.wide #introduction {
    border-bottom: 2px solid white;
    margin-left: 20px;
    margin-right: 20px;
}

.gallery-thumb {
    max-width: 100%;
    border-radius: 5px;
}

a.article {
    border-bottom: none;
}

a.article:hover {
    border-bottom: none;
    color: black;
}

a.article h4 {
    border-bottom: 2px solid var(--links, black);
    display: inline;
    transition: .2s;
}

a.article:hover h4 {
    color: var(--links, black);
}

.gallery figure {
    display: inline-block;
    box-sizing: border-box;
    width: 33.33%;
    padding: 20px;
    margin: 0;
}

figure a {
    border-bottom: none;
    line-height: 0;
    
}

img.embedded {
    border-radius: 5px;
    width: 100%;
    margin-top: 11px;
    margin-bottom: 11px;
}

.gallery img {
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}

.gallery a img {
    transition: .2s;
}

.gallery a:hover img {
    opacity: 0.8;
}

p#cc-text {
    display: inline-block;
    width: 75%;
}

img#cc-icon {
    display: inline-block;
    float: right;
    padding-top: 26px;
}