:root {
    --bullet: rgba(0, 0, 0, 0.13);
}

body {
    background: hsl(0, 0%, 93%);
    display: table;
    width: 100%;
    min-height: 100vh;
}

main.narrow {
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 55px;
}

main.wide {
    width: 100%;
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.5em;
    margin-bottom: 18px;
    margin-top: 0;
}

h6 {
    font-size: 18px;
    font-weight: 900;
    font-family: 'Muli', sans-serif;
    margin-bottom: 10px;
    padding-top: 5px;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

h4 {
    font-size: 24px;
    font-weight: 900;
}

h3 {
    font-size: 24px;
    font-weight: 300;
}

h2 {
    font-size: 24px;
    font-weight: 900;
    color: var(--bullet, grey);
}

ul, ol {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    line-height: 1.5em;
    padding-left: 51px;
    margin-top: 18px;
    margin-bottom: 0;
    list-style-type: none;
}

p {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    line-height: 1.5em;
}

article p:last-child {
    margin-bottom: 0;
}

article p:first-child {
    margin-top: 3px;
}

ul.spaced-list, ol.spaced-list {
    padding-left: 22px;
}

.spaced-list li {
    margin-top: 10px;
    padding-left: 20px;
}

ul.spaced-list > li::before {
    padding-right: 30px;
    margin-left: -41px;
}

ol.spaced-list > li::before {
    padding-right: 19px;
    margin-left: -41px;
}

li {
    padding-bottom: 5px;
}

li li:last-child {
    padding-bottom: 0px;
}

li::before {
    padding-right: 40px;
    margin-left: -51px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 900;
    color: var(--bullet, grey);
}

ul > li::before {
    content: '>';
}

ol > li::before {
    content: counter(item) '.';
}

ol ol > li::before{
    content: counter(item, lower-alpha) '.';
}

ol {
    counter-reset: item;
}

ol > li {
    counter-increment: item;
}

article {
    padding-bottom: 45px;
    padding-top: 40px;
    border-top: 2px solid white;
}

section {
    padding-bottom: 45px;
    padding-top: 40px;
}

section:before {
    content: "";
    height: 2px;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    background-color: white;
    border-top: none;
    display: block;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -40px;
}

article section:first-child {
    padding-top: 0px;
}

article section:first-child::before {
    display: none;
}

article > section:last-child {
    padding-bottom: 0px;
}

#redirect {
    padding: 40px;
    border: none;
    background-color: hsl(0, 0%, 98%);
    margin-bottom: 100px;
    margin-top: -100px;
    border-radius: 0px 0px 5px 5px;
}

#redirect p {
    margin-top: 0;
}

#introduction {
    margin-bottom: 0px;
    padding-bottom: 45px;
}

a {
    text-decoration: none;
    border-bottom: 2px solid var(--links, black);
    color: black;
    transition: .2s;
}

a:hover {
    color: var(--links, black);
}

:focus {
    outline: none;
}

div.footer-row {
    display: table-row;
    height: fit-content;
    vertical-align: bottom;
}

footer {
    background-color: hsl(0, 0%, 89%);
    padding: 40px;
}

footer p {
    display: inline;
}

#right-foot span {
    float: right;
}

header {
    padding: 35px 40px 40px 40px;
    background-color: hsl(0, 0%, 89%);
}

header h2#breadcrumb {
    display: inline;
}

.breadcrumb-404 {
    color: black;
}

.breadcrumb-dots {
    color: black;
    display: none;
}

#email-icon {
    float: right;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
}
 
#menu-label {
    float: right;
    font-family: 'Muli', sans-serif;
    font-size: 42px;
    font-weight: 800;
    display: none;
    transform: rotate(-45deg);
    transform-origin: 63% 58%;
    transition: .3s;
    padding-left: 10px;
    color: black;
}

#menu {
    display: none;
}

#menu:checked ~ #menu-label {
    transform: rotate(0deg);
}

h2 a {
    border-bottom: none;
}

h2 a:hover {
    border-bottom: none;
    color: var(--links, black);
}

.gallery {
    border-top: none;
}

main.wide #introduction {
    border-bottom: 2px solid white;
    margin-left: 20px;
    margin-right: 20px;
}

.article-thumb {
    max-width: 100%;
    border-radius: 5px;
}

a.article {
    border-bottom: none;
}

a.article:hover {
    border-bottom: none;
    color: black;
}

a.article h4 {
    border-bottom: 2px solid var(--links, black);
    display: inline;
    transition: .2s;
}

a.article:hover h4 {
    color: var(--links, black);
}

.gallery figure {
    display: inline-block;
    box-sizing: border-box;
    width: 33.33%;
    padding: 20px;
}

figure {
    margin: 0;
    text-align: center;
}

img.embedded {
    border-radius: 5px;
    max-width: 100%;
    margin-top: 11px;
    margin-bottom: 11px;
    text-align: center;
}

.gallery img {
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}

a.lightbox {
    border-bottom: none;
    line-height: 0;
}

.gallery a.lightbox {
    transition: .2s;
}

.gallery a.lightbox:hover {
    opacity: 0.8;
}

p#cc-text {
    display: inline-block;
    width: 75%;
}

img#cc-icon {
    display: inline-block;
    float: right;
    padding-top: 26px;
}

span.dot {
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    background-color: var(--links, black);
    display: inline-block;
    margin-left: 5px;
}

@media only screen and (max-width: 600px) {

    main.narrow {
        width: 100%;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
        margin-bottom: 5px;
    }
    
    article#redirect {
        margin-top: -30px;
        margin-bottom: 30px;
    }
    
    main.wide {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;
        margin-bottom: 5px;
    }
    
    main.wide #introduction {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .gallery figure {
        padding: 15px;
    }
    
    header {
        padding: 25px 30px 30px 30px;
    }
    
    article {
        padding-bottom: 25px;
        padding-top: 25px;
    }
    
    section {
        padding-bottom: 25px;
        padding-top: 25px;
    }
    
    section::before {
        margin-bottom: 20px;
        margin-top: -20px;
    }
    
    #introduction {
        padding-bottom: 27px;
    }
    
    footer {
        padding: 30px;
    }
    
    #right-foot span {
        float: none;
        padding-top: 18px;
        display: block;
    }
        
    .breadcrumb-expand {
        display: none;
    }
    
    .breadcrumb-dots {
        display: inline;
    }
    
    #menu:checked ~ .breadcrumb-expand {
        display: inline;
    }
    
    #menu:checked ~ .breadcrumb-dots {
        display: none;
    }
    
    #email-icon {
        display: none;
    }
    
    #menu-label {
        display: block;
    }
    
    ol.spaced-list > li::before {
        padding-right: 0;
        margin-left: -22px;
    }
    
    ul.spaced-list > li::before {
        padding-right: 5px;
        margin-left: -15px;
    }
    
    ul.spaced-list li {
        padding-left: 12px;
        margin-top: 3px;
    }
    
    ol.spaced-list li {
        margin-top: 3px;
    }
    
    ol.spaced-list, ul.spaced-list {
        padding-left: 2px;
    }
    
    ol, ul {
        margin-top: 10px;
    }
    
    img#cc-icon {
        display: block;
        float: none;
        padding-top: 10px;
    }
    
    article#creative-commons {
        padding-top: 8px;
    }
    
    p#cc-text {
        width: 100%;
    }
    
    img.gallery-thumb {
        margin-bottom: 10px;
    }
    
    .sl-wrapper .sl-navigation button {
        display: none;
    }
    
    .sl-wrapper .sl-counter {
        top: 30px;
        left: 30px;
    }
    
    .sl-wrapper .sl-close {
        top: 30px;
        right: 30px;
    }
    
    .gallery a.lightbox:hover {
        opacity: 1;
    }
    
    a:hover {
        color: black;
    }
    
    h2 a:hover {
        color:black;
    }
    
    a.article:hover h4 {
        color: black;
    }
}

@media only screen and (max-width: 500px) {
    .gallery figure {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 768px) and (min-width: 501px) {
    .gallery figure {
        width: 50%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    #email-link {
        display: none;
    }
}